.big {
  transform: scale(2);
}
.btn-run {
  background-color: yellow;
  margin: 0;
  float: none;
}

.nav-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.slider.slider-horizontal {
  width: 70%;
}

.github-img {
  width: 70%;
  height: auto;
  margin: 5px 20% 5px 50%;
}
.linkedin-img {
  width: 90%;
  height: auto;
  margin: 5px 20% 5px 50%;
}
.image-link {
  width: 30%;
}
