.Node {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  background-color: white;
}

.visited {
  background-color: aquamarine;
}

.start {
  background-color: rgb(206, 47, 255);
}

.finish {
  background-color: yellow;
}
