.Node {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  background-color: lightcyan;
}

.visited {
  background-color: hotpink;
}

.start {
  background-color: rgb(206, 47, 255);
}

.finish {
  background-color: yellow;
}

.path {
  background-color: chartreuse;
}
