.big {
  transform: scale(2);
}
.btn-run {
  background-color: yellow;
  margin: 0;
  float: none;
}

.nav-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.speed-input {
  size: 50%;
}
